img{
  width: 60%;
  align-self: center;
}

.card{
  border: rgb(103, 102, 105) 3px solid;
  display: flex;  
  flex-direction: column;
  margin-left:5%;
  margin-right:5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row{
  display: flex;  
  flex: 1;
  flex-direction: row;
  margin: auto;
  margin-top: 1%;
  justify-content: center;
  padding:20px;
}

.container{
  justify-content: center;
}
.details{
  font-size: 20px;
  color: rgb(97, 64, 128);
  padding:20px;
}

.title{
  font-size: 20px;
  background-color: rgb(97, 64, 128);
  color: white;
  text-align: center;
  margin:20px;
  padding:5px;
}

.homepage_links{
  color:  rgb(97, 64, 128);
  padding: 25%;
  font-size: larger;
  }

.loginlink{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1
}

.form_panel {
  padding:2%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  text-align:center;
  box-shadow: 2px 2px 2px 3px #999;
  margin: auto;
  min-width: 350px;
  width: 80%;
  margin-top:3%;
  background-color: black;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:15px;
  font-size: 20px;
  color: black;
  align-self: center;
}

.username{
  font: 30px sans-serif;
  color:black;
  justify-content: 'flex-end';
  align-self:flex-end;
  vertical-align: middle;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content:flex-end;
  align-items: flex-end;
  vertical-align: middle;
}

.small_header{
  font: 30px sans-serif;
  color:black;
  margin: .5cm;
}

.img_icon {
  align-self: center;
    width:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;  
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact3 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
  color: #3e4555;
}

.contact3 .font-weight-medium {
  font-weight: 500;
}

.contact3 .card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact3 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.contact3 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}
